/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
* {
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}